{% extends "homepage.html" %}
{% block content %}
{% load static %}
{% load ventas_filters %}

<link rel="stylesheet" href="{% static 'css/Lista_ventas.css' %}">
<div class="action-container">
    <button id="RegisVenta">
        <img src="{% static 'Icons/añadir.png' %}" alt="Añadir Icono" style="height: 25px;">
        Añadir
    </button>
</div>

<div>
    <h1 class="title">Lista de Ventas</h1>
    <div class="table-wrapper">
        {% for comercial, ventas in ventas_por_comercial.items %}
            <div class="comercial-container">
                <h2 class="comercial-name">{{ comercial.nombre }}</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Comisión</th>
                            <th class="fecha">Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto, datos in ventas.items %}
                        <tr>
                            <td>{{ producto }}</td>
                            <td>{{ datos.cantidad }}</td>
                            <td>{{ datos.comision_total|format_currency }}</td>
                            <td class="fecha">{{ datos.fecha|date:"d/m/Y h:i A" }}</td>
                            
                        </tr>
                        {% endfor %}
                        <tr class="totales">
                            <td><strong>Total:</strong></td>
                            <td></td>
                            <td><strong>{{ comisiones_totales|get_item:comercial|format_currency }}</strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        {% empty %}
            <p class="no-data">No hay ventas registradas.</p>
        {% endfor %}
    </div>
</div>


<script>
    document.getElementById("RegisVenta").addEventListener("click", function () {
        fetch("{% url 'crear_venta' %}") 
            .then(response => response.text())
            .then(data => {
                Swal.fire({
                    title: 'Registrar Venta',
                    html: data, 
                    showCancelButton: true,
                    confirmButtonText: 'Guardar',
                    cancelButtonText: 'Cancelar',
                    focusConfirm: false,
                    preConfirm: () => {
                        const form = document.querySelector("form"); 
                        const formData = new FormData(form);

                        return fetch(form.action, {
                            method: 'POST',
                            body: formData,
                            headers: { 'X-Requested-With': 'XMLHttpRequest' },
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Error en la solicitud');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (data.message) {
                                return data.message;
                            }
                            throw new Error('Error al procesar el formulario');
                        })
                        .catch(error => {
                            Swal.showValidationMessage(`Error: ${error.message}`);
                        });
                    },
                }).then(result => {
                    if (result.isConfirmed) {
                        Swal.fire('¡Éxito!', result.value, 'success').then(() => {
                            location.reload(); 
                        });
                    }
                });
            });
    });
</script>
{% endblock %}
