{% extends "homepage.html" %}
{% block content %}
{% load ventas_filters %}

<div class="action-container">
    <button id="nuevaVenta" class="button"> Añadir
    </button>  
</div>

<div>
    <h1 class="title">Lista de Ventas</h1>
    <div class="table-wrapper">
        {% for comercial, ventas in ventas_por_comercial.items %}
            <div class="comercial-container">
                <h2 class="comercial-name">{{ comercial.nombre }}</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Comisión</th>
                            <th class="fecha">Fecha</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for producto, datos in ventas.items %}
                        <tr>
                            <td>{{ producto }}</td>
                            <td>{{ datos.cantidad }}</td>
                            <td>{{ datos.comision_total|format_currency }}</td>
                            <td class="fecha">{{ datos.fecha|date:"d/m/Y h:i A" }}</td>
                            <td></td>
                        </tr>
                        {% endfor %}
                        <tr class="totales">
                            <td><strong>Total:</strong></td>
                            <td></td>
                            <td><strong>{{ comisiones_totales|get_item:comercial|format_currency }}</strong></td>
                            <td></td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        {% empty %}
            <p class="no-data">No hay ventas registradas.</p>
        {% endfor %}
    </div>
</div>


<style>
    
    .table-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-auto-rows: auto;
        gap: 20px; 
        justify-content: center;
        padding: 0px;
    }

    .comercial-container {
        background-color: #fff;
        padding: 15px;
        border-radius: 10px;
        box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    .comercial-name {
        font-size: 1.4em;
        color: #333;
        margin-bottom: 10px;
        border-bottom: 2px solid #00B9E8;
        display: inline-block;
        padding-bottom: 5px;
    }

    .fecha {
        display: none;
    }
    
    table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
    }

    th, td {
        padding: 8px;
    }

    th {
        background-color: #000000;
        color: white;
    }

    tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    tr:hover {
        background-color: #e8f5e9;
    }

    .no-data {
        text-align: center;
        color: #777;
        font-style: italic;
    }

    .button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 12px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        border-radius: 8px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    .button:hover {
        background-color: #388e3c;
        transform: translateY(-2px);
    }

    .button i {
        font-size: 20px;
    }

    .action-container {
        text-align: right;
        margin: 20px;
    }
</style>
{% endblock %}
